<nz-layout class="layout">
    <nz-header>
        <div class="logo"></div>
        <div class="header-separate"></div>
        <div class="header-search">
            <header-search></header-search>
        </div>
    </nz-header>
    <nz-content style="padding:0 50px;">
        <nz-layout style="padding:24px 0; background: #fff">
            <nz-sider [nzWidth]="280" style="background:#fff">
                <ul nz-menu [nzMode]="'inline'" style="height:100%; font-size: 34px;">
                    <li nz-menu-item style="font-size: 14px">Ant Design Mobile of Vue</li>
                    <li nz-menu-item style="font-size: 14px">更新日志</li>
                    <li nz-menu-item style="font-size: 14px">定制主题</li>
                    <li nz-submenu>
                        <span title style="font-size: 14px">Components</span>
                        <ul>
                            <li nz-menu-group>
                                <span title>Layout</span>
                                <ul>
                                    <li nz-menu-item style="font-size: 14px">Flex 布局</li>
                                    <li nz-menu-item style="font-size: 14px">WingBlank 两翼留白</li>
                                    <li nz-menu-item style="font-size: 14px">WhiteSpace 上下留白</li>
                                </ul>
                            </li>
                            <li nz-menu-group>
                                <span title>Navigation</span>
                                <ul>
                                    <li nz-menu-item style="font-size: 14px">Drawer 抽屉</li>
                                    <li nz-menu-item style="font-size: 14px">Menu 菜单</li>
                                    <li nz-menu-item style="font-size: 14px">NavBar 导航栏</li>
                                    <li nz-menu-item style="font-size: 14px">Popover 气泡</li>
                                    <li nz-menu-item style="font-size: 14px">Pagination 分页器</li>
                                    <li nz-menu-item style="font-size: 14px">SegmentedControl 分段器</li>
                                    <li nz-menu-item style="font-size: 14px">Tabs 标签页</li>
                                    <li nz-menu-item style="font-size: 14px">TabBar 标签栏</li>
                                </ul>
                            </li>
                            <li nz-menu-group>
                                <span title>Data Entry</span>
                                <ul>
                                    <li nz-menu-item style="font-size: 14px">Button 按钮</li>
                                    <li nz-menu-item style="font-size: 14px">Calendar 日历</li>
                                    <li nz-menu-item style="font-size: 14px">Checkbox 复选框</li>
                                    <li nz-menu-item style="font-size: 14px">DatePicker 日期选择</li>
                                    <li nz-menu-item style="font-size: 14px">DatePickerView 选择器</li>
                                    <li nz-menu-item style="font-size: 14px">ImagePicker 图片选择器</li>
                                    <li nz-menu-item style="font-size: 14px">InputItem 文本输入</li>
                                    <li nz-menu-item style="font-size: 14px">PickerView 选择器</li>
                                    <li nz-menu-item style="font-size: 14px">Picker 选择器</li>
                                    <li nz-menu-item style="font-size: 14px">Radio 单选框</li>
                                    <li nz-menu-item style="font-size: 14px">Range 区域选择</li>
                                    <li nz-menu-item style="font-size: 14px">Switch 滑动开关</li>
                                    <li nz-menu-item style="font-size: 14px">SearchBar 搜索栏</li>
                                    <li nz-menu-item style="font-size: 14px">Slider 滑动输入条</li>
                                    <li nz-menu-item style="font-size: 14px">Stepper 步进器</li>
                                    <li nz-menu-item style="font-size: 14px">TextareaItem 多行输入</li>
                                </ul>
                            </li>
                            <li nz-menu-group>
                                <span title>Date Display</span>
                                <ul>
                                    <li nz-menu-item style="font-size: 14px">Accordion 手风琴</li>
                                    <li nz-menu-item style="font-size: 14px">Badge 徽标数</li>
                                    <li nz-menu-item style="font-size: 14px">Carousel 走马灯</li>
                                    <li nz-menu-item style="font-size: 14px">Card 卡片</li>
                                    <li nz-menu-item style="font-size: 14px">Grid 宫格</li>
                                    <li nz-menu-item style="font-size: 14px">Icon 图标</li>
                                    <li nz-menu-item style="font-size: 14px">List 列表</li>
                                    <li nz-menu-item style="font-size: 14px">NoticeBar 通告栏</li>
                                    <li nz-menu-item style="font-size: 14px">Steps 步骤条</li>
                                    <li nz-menu-item style="font-size: 14px">Tag 标签</li>
                                </ul>
                            </li>
                            <li nz-menu-group>
                                <span title>FeedBack</span>
                                <ul>
                                    <li nz-menu-item style="font-size: 14px">ActionSheet 动作面板</li>
                                    <li nz-menu-item style="font-size: 14px">ActivityIndicator 活动指示器</li>
                                    <li nz-menu-item style="font-size: 14px">Modal 对话框</li>
                                    <li nz-menu-item style="font-size: 14px">Progress 进度条</li>
                                    <li nz-menu-item style="font-size: 14px">Toast 轻提示</li>
                                </ul>
                            </li>
                            <li nz-menu-group>
                                <span title>Gesture</span>
                                <ul>
                                    <li nz-menu-item style="font-size: 14px">PullToRefresh 动作刷新</li>
                                    <li nz-menu-item style="font-size: 14px">SwipeAction 滑动操作</li>
                                </ul>
                            </li>
                            <li nz-menu-group>
                                <span title>Combination</span>
                                <ul>
                                    <li nz-menu-item style="font-size: 14px">ListView 长列表</li>
                                    <li nz-menu-item style="font-size: 14px">Result 结果页</li>
                                </ul>
                            </li>
                            <li nz-menu-group>
                                <span title>Other</span>
                                <ul>
                                    <li nz-menu-item style="font-size: 14px">LocaleProvider 国际化</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nz-sider>
            <nz-content style="padding: 0 24px; min-height: 280px;">
                <router-outlet></router-outlet>
            </nz-content>
        </nz-layout>
        <nz-footer style="text-align: center;">Ant Design ©2018 Implement By Vue</nz-footer>
    </nz-content>
</nz-layout>