<nz-layout class="layout">
    <nz-header>
        <div class="logo"></div>
        <div class="header-separate"></div>
        <div class="header-search">
            <header-search></header-search>
        </div>
    </nz-header>
    <nz-content style="padding:0 50px;">
        <nz-layout style="padding:24px 0; background: #fff">
            <nz-sider [nzWidth]="280" style="background:#fff">
                <ul nz-menu [nzMode]="'inline'" style="height:100%; font-size: 34px;">
                    <li nz-menu-item style="font-size: 14px">Ant Design of Vue</li>
                    <li nz-menu-item style="font-size: 14px">快速上手</li>
                    <li nz-menu-item style="font-size: 14px">更新日志</li>
                    <li nz-menu-item style="font-size: 14px">国际化</li>
                    <li nz-submenu>
                        <span title style="font-size: 14px">Components</span>
                        <ul>
                            <li nz-menu-group>
                                <span title>General</span>
                                <ul>
                                    <li nz-menu-item style="font-size: 14px">Button 按钮</li>
                                    <li nz-menu-item style="font-size: 14px">Icon 图标</li>
                                </ul>
                            </li>
                            <li nz-menu-group>
                                <span title>Layout</span>
                                <ul>
                                    <li nz-menu-item style="font-size: 14px">Grid 栅格</li>
                                    <li nz-menu-item style="font-size: 14px">Layout 布局</li>
                                </ul>
                            </li>
                            <li nz-menu-group>
                                <span title>Navigation</span>
                                <ul>
                                    <li nz-menu-item style="font-size: 14px">Drawer 抽屉</li>
                                    <li nz-menu-item style="font-size: 14px">Breadcrumb 面包屑</li>
                                    <li nz-menu-item style="font-size: 14px">DropDown 下拉菜单</li>
                                    <li nz-menu-item style="font-size: 14px">Menu 菜单</li>
                                    <li nz-menu-item style="font-size: 14px">Pagination 分页</li>
                                    <li nz-menu-item style="font-size: 14px">Steps 步骤条</li>
                                </ul>
                            </li>
                            <li nz-menu-group>
                                <span title>Data Entry</span>
                                <ul>
                                    <li nz-menu-item style="font-size: 14px">Cascader 级联选择</li>
                                    <li nz-menu-item style="font-size: 14px">Checkbox 多选框</li>
                                    <li nz-menu-item style="font-size: 14px">DatePicker 日期选择框</li>
                                    <li nz-menu-item style="font-size: 14px">Form 表单</li>
                                    <li nz-menu-item style="font-size: 14px">InputNumber 数字输入框</li>
                                    <li nz-menu-item style="font-size: 14px">Input 输入框</li>
                                    <li nz-menu-item style="font-size: 14px">Rate评分</li>
                                    <li nz-menu-item style="font-size: 14px">Radio 单选框</li>
                                    <li nz-menu-item style="font-size: 14px">Select 选择器</li>
                                    <li nz-menu-item style="font-size: 14px">Slider 滑动输入条</li>
                                    <li nz-menu-item style="font-size: 14px">Switch 开关</li>
                                    <li nz-menu-item style="font-size: 14px">TimePicker 时间选择框</li>
                                    <li nz-menu-item style="font-size: 14px">Transfer 穿梭框</li>
                                    <li nz-menu-item style="font-size: 14px">Upload 上传</li>
                                </ul>
                            </li>
                            <li nz-menu-group>
                                <span title>Date Display</span>
                                <ul>
                                    <li nz-menu-item style="font-size: 14px">Avatar 头像</li>
                                    <li nz-menu-item style="font-size: 14px">Badge 徽标数</li>
                                    <li nz-menu-item style="font-size: 14px">Calendar 日历</li>
                                    <li nz-menu-item style="font-size: 14px">Card 卡片</li>
                                    <li nz-menu-item style="font-size: 14px">Carousel 走马灯</li>
                                    <li nz-menu-item style="font-size: 14px">Collapse 折叠面板</li>
                                    <li nz-menu-item style="font-size: 14px">Popover 气泡卡片</li>
                                    <li nz-menu-item style="font-size: 14px">Tooltip 文字提示</li>
                                    <li nz-menu-item style="font-size: 14px">Table 表格</li>
                                    <li nz-menu-item style="font-size: 14px">Tabs 标签页</li>
                                    <li nz-menu-item style="font-size: 14px">Tag 标签</li>
                                    <li nz-menu-item style="font-size: 14px">Timeline 时间轴</li>
                                </ul>
                            </li>
                            <li nz-menu-group>
                                <span title>FeedBack</span>
                                <ul>
                                    <li nz-menu-item style="font-size: 14px">Alert 警告提示</li>
                                    <li nz-menu-item style="font-size: 14px">Message 全局提示</li>
                                    <li nz-menu-item style="font-size: 14px">Modal 对话框</li>
                                    <li nz-menu-item style="font-size: 14px">Notification 通知提醒框</li>
                                    <li nz-menu-item style="font-size: 14px">Progress 进度条</li>
                                    <li nz-menu-item style="font-size: 14px">Popconfirm 气泡确认框</li>
                                    <li nz-menu-item style="font-size: 14px">Spin 加载中</li>
                                </ul>
                            </li>
                            <li nz-menu-group>
                                <span title>Other</span>
                                <ul>
                                    <li nz-menu-item style="font-size: 14px">Anchor 锚点</li>
                                    <li nz-menu-item style="font-size: 14px">BackTop 回到顶部</li>
                                    <li nz-menu-item style="font-size: 14px">Locale 国际化</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nz-sider>
            <nz-content style="padding: 0 24px; min-height: 280px;">
                <router-outlet></router-outlet>
            </nz-content>
        </nz-layout>
        <nz-footer style="text-align: center;">Ant Design ©2018 Implement By Vue</nz-footer>
    </nz-content>
</nz-layout>